/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

img, img:hover, img:focus, img:active {
    text-decoration: none;
    color: inherit;
    pointer-events: none;
}

li {
  /* background-color: pink; */

  list-style-type: none;

  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

.page{
  /* background-color: pink; */

  width: 100%;
  min-height: 500px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.pic-and-bio{
  /* background-color: green; */

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.pic{
  /* background-color: blue; */

  width: 40%;
  min-width: 350px;
  max-width: 500px;

  min-height: 250px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.about-me-pic{
  border: 4px solid rgb(92, 92, 92);
  width:90%;
  border-radius: 20px;

  margin: 10px;
}

.bio-and-title{
  /* background-color: purple; */

  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bio-title{
  /* background-color: rgb(140, 226, 190); */

  width: 100%;
  height: 20%;
  min-width: 350px;
  min-height:60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-family: 'Dancing Script', cursive;
  font-size: 350%;
}

.bio{
  min-width: 350px;
  margin: 10px;

}

.paragraph-text{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  text-align: left;

}


.edu-doc-fact{

  width: 90%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.education-and-title{

  max-width: 45%;
  min-width: 350px;
}

.documents-and-title{
  background-color: grey;

  max-width: 45%;
  min-width: 350px;
}

.fun-facts-and-title{
  background-color: red;


  max-width: 45%;
  min-width: 350px;
}

.sub-title-container{
  /* background-color: rgb(140, 226, 190); */

  width: 100%;

  min-height:60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-title{
  font-family: 'Dancing Script', cursive;
  font-size: 250%;
}

.li-icon-box{
  /* background-color: rgb(207, 254, 74); */
  height: 100%;
  margin-right: 10px;
}

.li-icon{
  width: 30px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
