/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

img, img:hover, img:focus, img:active {
    text-decoration: none;
    color: inherit;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

.page{
  background-color: pink;

  width: 100%;
  min-height: 500px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.pic-and-bio{
  /* background-color: green; */

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.pic{
  /* background-color: blue; */

  width: 40%;
  min-width: 350px;
  max-width: 500px;

  min-height: 250px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.about-me-pic{
  border: 4px solid rgb(92, 92, 92);
  width:90%;
  border-radius: 20px;

  margin: 10px;
}

.bio-and-title{
  /* background-color: purple; */

  width: 60%;
  min-width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bio-title{
  /* background-color: rgb(140, 226, 190); */

  width: 100%;
  height: 20%;

  min-height:60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-family: 'Dancing Script', cursive;
  font-size: 350%;
}

.bio{
  margin: 10px;

}

.paragraph-text{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
}


.edu-doc-fact{
  background-color: pink;

  width: 90%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.education-and-title{
  background-color: yellow;

  min-width: 350px;

  width: 40%;
}

.sub-title-container{
  background-color: rgb(140, 226, 190);

  width: 100%

  min-height:60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-title{
  font-family: 'Dancing Script', cursive;
  font-size: 250%;
}

.documents-and-title{
  background-color: grey;

  width: 40%;
  min-width: 350px;
}

.fun-facts-and-title{
  background-color: red;

  width: 40%;
  min-width: 350px;
}
